<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bienvenido a mercado Liebre</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <link href="\css\style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<header>
    <div class="contenedor-header">
        <div class="imagenlogo">
            <img src="/img/logo-mercado-liebre.svg">
        </div>
        <div class="buscador">
            <form action="#" method="GET">
              <input type="search" placeholder="Buscar productos " class="icono-placeholder" name="icono-placeholder">
            </form>
        </div>
    </div>
    <p class="titulo"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
        <div class="header-nav">
            <ul id="ul1">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul id="ul2">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
    </nav>
    </div>
    <div class="menu-hamburguesa">
        <i class="fas fa-bars"></i>
    </div>
</header>
<main>
    <form method="GET" action="/" class="form-login">
 
            <label for="Nombre de usuario">Nombre de usuario:</label>
            <input type="text" name="Nombre de usuario">
            <br>
            <label for="Contraseña">Contraseña:</label>
            <input type="password" name="Contraseña">
            <br>
            <div class="button-login">
            <button type="submit" class="button-login-interno">Iniciar Sesión</button>
        </div>
 
            
     </form>
 
 </main>
 <footer>
    <div class=footer-sin-copyright>
    <div class="apartado-footer">
    <div class="imagenesfooter"><i class="fas fa-credit-card"></i></div>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con MercadoLiebreCash tenés cuotas sin
        interés con tarjeta o efectivo en puntos de
        pago. ¡Y siempre es Seguro!</p>
    </div><br>
    <div class="apartado-footer">
    <div class="imagenesfooter"><i class="fas fa-gift"></i></div>
    <h4>Envío gratis desde los $2.500</h4>
    <p>Solo por estar registrado en MercadoLiebre
        tenés envíos gratis en miles de productos.Es
        un beneficio de Mercado puntos</p>
    </div><br>
    <div class="apartado-footer">
    <div class="imagenesfooter"><i class="fas fa-user-shield"></i></div>
    <h4>Seguridad de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre
        no hay nada que no puedas hacer porque estás
        siempre protegclass@.</p>
    </div><br>
</div>
    <div class="Copyright">
        <p><small> Copyright © 1999-2020 MercadoLiebre S.R.L</small></p>
    </div>

</footer>


</html>
 
 </html>


